.content {
  position: relative;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dado {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;

  /* animation: girar 5s ease-in-out alternate infinite;*/
}

.cara {
  width: 200px;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;
}

.cara img {
  background-color: white;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c1 {
  transform: translateZ(100px);
}

.c2 {
  transform: rotateY(90deg) translateZ(100px);
}

.c3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.c4 {
  transform: rotateX(180deg) rotateZ(-90deg) translateZ(100px);
}

.c5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.c6 {
  transform: rotateX(-90deg) translateZ(100px) rotateZ(-90deg);
}