@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Comme', sans-serif;
}

header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 8px;
}

footer {
    text-align: center;
    margin-top: auto;
    color: white;
    background-color: #600016;
}