
.game-card {
	width: 100px;
	height: 100px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-card img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-card.visible img {
	display: block;
}
/* #reset-button {
    background-color: #008080;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 10px 20px;
    transition: background-color 0.3s;
  } */
/*   
  #reset-button:hover {
    background-color: #006666;
  } */
  


 .carta {
	  transform: rotateY(180deg);
  }
  
  .carta {
	transform-style: preserve-3d;
	transition: all 0.5s linear;
  }
  
  .cara {
	position: absolute;
	backface-visibility: hidden;
  }
/*   
  .cara.detras {
	transform: rotateY(180deg);
  } */